.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4 ;

}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* Pseudoclases */
.main-nav__item a:hover{
    color: blue; /* Cuando se pasa el mouse cambia de color a azul */
}

.main-nav__item a:active{
    color: red; /* Cuando se hace click cambia de color a rojo*/
}

/* Pseudoelementos */
.main-nav__item a::after{
    content: " | "; /* Agrega un pipe al final de cada elemento */
}