/* FILEPATH: /C:/Users/jadg1/Desktop/Platzi/FrontEnd_Dev1/clase_css/style.css */

p {
    color: green;
    font-size: 40px;
}

/* usando clases */
.txt-parrafo {
    color: red;
    font-size: 20px;
}

/* usando id */
#txt-p{
    color: blue;
    font-size: 30px;
}